<%-include('./layouts/header')%>
<%-include('./layouts/body')%>
<div class="bg" style="background-image: url('/images/sneaker-bg.jpg')"></div>
<div class="collection-container">
	<div class="d-flex justify-content-center mt-4 title">
		<h1>COLLECTION</h1>
	</div>
	<div class="container">
		<div class="row">
			<%cats.forEach(function(cat){
				%>
					<div class="col-md-6 col-lg-4 mt-4 cat-card">
						<a class="cat-link" href="/products/<%=cat.cat_id%>">
							<div class="cat-img" style="background: url('<%=cat.img_url%>'); width: 100%;height: 20rem; background-size: cover; background-position: 0px 0; background-repeat: no-repeat;">
								<div class="layer"><h3><%=cat.name%></h3></div>
							</div>
							<!-- <img src="<%=cat.img_url%>" alt="<%=cat.cat_id%>" style="width: 100%; height: 100%"> -->
						</a>
					</div>
				<%
			})%>
		</div>
	</div>
</div>